*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.imgcabe{
    width: 300px;
    height: 150px;
    background-color: white;
}
.cabeca{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: white;
}
.iten_cabe{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 10%;
    align-items: center;
}
.itens{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.itens:hover{
    color: #dd6798; 
}
.drop{
    display: none;
    position: absolute;
    list-style: none;
    z-index: 999;
    width: 6%;
    border: solid 1px black;
}

.hoverItens:hover{
    background-color: #f379ac;
}
.setaReta{
    display: flex;
    flex-direction: row;
    
}
.seta{
    width: 20px;
}
.drop li{
    padding: 15%;
    background-color: #f6d3e2;
    z-index: 999;
    display: block;
    text-align: center;
    
}
.drop:hover{
    display: block;
}
/*menu mobile*/
.menu-mobile{
    background-color: #f6d3e2;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
    width: 70%;
    overflow: hidden;
    transition: 5.s;
}
.abrir-menu{
    width: 0%;    
    background-color: #f6d3e2;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
    overflow: hidden;
    transition: 5.s;
}
.menu-mobile div a{
    text-align: right;
}
.btn-abrir-botao img{
    width: 0px;
    
}
.menu-mobile .btn-fechar img{
    width: 10%;
}
.menu-mobile .btn-fechar{
    padding: 20px 4%;
}
.menu-mobile div a p{
    color: black;
    background-color: #f6d3e2;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
}
.menu-mobile div a p:hover{
    background-color: #dd6798;
    color: black;
}
.overlay-menu{
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: none;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicial{
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 4%;
    background-color: white;
}
.tituloI{
    font-size: 40px;
    margin-bottom: 5%;
    text-align: center;
}
.textoI{
    font-size: 25px;
}
.segundaP{
    width: 100%;
    background-color: #fdeaf0;
}
.sub-itens{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.parte2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fdeaf0;
    padding: 5%;
    
}
.tituloMo{
    font-size: 40px;
}
.perguntas{
    padding-top: 3%;
    font-size: 20px;
}
.imagemIlustrativa{
    width: 40%;
    height: 27%;
}
.secG{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 6%;
}
.suTitulo{
    font-size: 27px;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 3%;
}
.textom{
    text-align: right;
    font-size: 20px;
   
}
.titulozinho{
    font-size: 25px;
    margin-top: 3%;
}
.tituloBig{
    font-size: 40px;
}
.textoG{
    font-size: 25px;
    width: 100%;
}
.divG{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.perguntas2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f6d3e2;
    padding: 1% 0% 1% 0%;
}
.perguntasDiv{
    background-color: white;
    width: 90%;
    padding: 1%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textoDiv{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    padding: 5% 10% 5% 10%;
}
.perguntasT{
    font-size: 25px;
    width: 100%;
    
}
.tituloMenor{
    font-size: 35px;
    padding-top: 3%;
    
}
.suTitulo2{
    font-size: 30px;
    padding-bottom: 1%;
    padding-top: 8%;
}
/*footer*/
.baixo{
    background-color: white;
    height: 100%;
    padding-left: 1%;
    padding-top: 1%;
    gap: 2px;
    padding-bottom: 2%;
}
.letra{
    background-color: white;
    font-size: 25px;
    padding-bottom: 5%;
}
.img_footer{
    padding-top: 1%;
    width: 50px;
    background-color: white;
}
.imagens{
    display: flex;
    margin-top: 1%;
    gap: 10px;
    background-color: white;
}
.iten3{
    margin-top: 5%;
    font-size: 25px;
}
.img2{
    width: 100px;
    margin-right: 2%;
}
.backfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.creditos{
    text-decoration: none;
}

@media screen and (max-width: 1195px){
    .imgcabe{
        width: 50%;
        height: 30%;
    }                   /*cabecario*/
    .imgcabe2{
        width: 15%;
        height: 10%;
    }
    .invi{
        width: 40px; /*cabecario*/
    }
    .btn-abrir-botao img{
        width: 40px;            /*cabecario*/
    }
    .iten_cabe{
        display: none;
    }
    .img2{
        width: 12%;
    }
    .divImagem{
        height: 60vh;
    }
    /*main*/
  
    .sub-itens{
        flex-direction: column;
        padding: 5%;
    }
    .imagemIlustrativa{
        width: 95%;
    }
    .tituloMo{
        font-size: 30px;
        text-align: center;
        padding-bottom: 5%;
    }
    .inicial{
        width: 90%;
        padding: 5%;
        
    }
    .tituloI{
        font-size: 30px;
        padding-bottom: 3%;
    }
    .textoI{
        font-size: 20px;
    }
    .titulo2{
        padding:3% 0% 3% 0%;
        text-align: center;
    }
    .parte2{
        flex-direction: column;
    }
    .tituloBig{
        font-size: 30px;
        text-align: center;
        padding-bottom: 3%;
    }
    .titulozinho{
        font-size: 20px;
    }
    .secG{
        width: 90%;
    }
    .textoG{
        font-size: 20px;
    }
    .perguntasDiv{
        width: 95%;
    }
    .tituloMenor{
        font-size: 30px;
        text-align: center;
    }
    .perguntasT{
        font-size: 20px;
    }
    .textoDiv{
        width: 90%;
    }
     /*footer*/
     .baixo{
        height: 100%;
    }
    .backfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        gap: 20px;
    }
    .baixo{
        text-align: center;
    }
    .imagens{
        justify-content: center;
    }
}